:root {
    --primary: rgba(128, 128, 128, 0.63);
}

.btn {
    width: 75px;
    height: 40px;
    margin: 4px 20px 4px 0;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
    
    border: rgb(240, 128, 147) 2px solid;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.primary {
    background-color: transparent;
    color: rgb(240, 128, 147);
}

.liked {
    background-color: rgb(240, 128, 147);
    color: white;
}