.pic-box-container {
    background-color: white;
    margin: 15px 0 0 0;
    padding: 0 0 5px 0;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 0px 10px;
    border-radius: 5px;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-content: flex-start;
}

.pic-box-img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.img-fit {
    max-width:100%;
}

.pic-box-text-container {
    padding: 0 15px 10px 15px;
    color: black;
    flex-grow: 1;
    margin-top: auto;
    text-align: left;
}

.pic-box-title {
    font-size: calc(10px + 1vmin);
    font-weight: bold;
}

.pic-box-date {
    font-size: calc(8px + 1vmin);
    color: grey;
}

.pic-box-text {
    font-size: calc(6px + 1vmin);
    color: black;
}

.pic-box-btns {
    padding: 5px 0 3px 15px;
    display: flex;
}