.pic-box-container {
    background-color: white;
    margin: 15px 0 0 0;
    padding: 0 0 5px 0;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 0px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.pic-box-img {
    width: 100%;
    object-fit: cover;
}

.img-fit {
    max-width:100%;
}

.pic-box-text {
    padding: 0 15px 10px 15px;
    font-size: calc(10px + 1vmin);
    color: black;
    text-align: left;
}

.pic-box-btns {
    padding-left: 15px;
}